@import '../sass/base/variables';
@import '../sass/blocks/titles';
*
{
  font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
  max-width: 950px;
  margin: 0 auto;
}
@import '../sass/blocks/promo';
@import '../sass/blocks/header';
@import '../sass/blocks/buttons';
@import '../sass/blocks/advantages';
@import '../sass/blocks/consultation';
@import '../sass/blocks/forms';
@import '../sass/base/media';